// ===== GLOBAL TAGS ===== //
* {
    font-family: inherit;
}

*::selection {
    color: $white;
    background: $blue1;
}

html {
    font-family: 'Be Vietnam Pro', 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    //Color
    background-color: $black;
    color: $gray0;

    //Size
    height: 100vh;
    width: 100vw;
}