/* Padding TOP definition */

.pdt-4 { padding-top: 4px; }

.pdt-8 { padding-top: 8px; }

.pdt-12 { padding-top: 12px; }

.pdt-16 { padding-top: 16px; }

.pdt-24 { padding-top: 24px; }

.pdt-32 { padding-top: 32px; }

.pdt-40 { padding-top: 40px; }


/* Padding BOTTOM definition */
.pdb-4 { padding-top: 4px; }
.pdb-8 { padding-top: 8px; }
.pdb-12 { padding-top: 12px; }
.pdb-16 { padding-top: 16px; }
.pdb-24 { padding-top: 24px; }
.pdb-32 { padding-top: 32px; }
.pdb-40 { padding-top: 40px; }


/* Padding LEFT definition */
.pdl-4 { padding-top: 4px; }
.pdl-8 { padding-top: 8px; }
.pdl-12 { padding-top: 12px; }
.pdl-16 { padding-top: 16px; }
.pdl-24 { padding-top: 24px; }
.pdl-32 { padding-top: 32px; }
.pdl-40 { padding-top: 40px; }

/* Padding LEFT definition */
.pdr-4 { padding-top: 4px; }
.pdr-8 { padding-top: 8px; }
.pdr-12 { padding-top: 12px; }
.pdr-16 { padding-top: 16px; }
.pdr-24 { padding-top: 24px; }
.pdr-32 { padding-top: 32px; }
.pdr-40 { padding-top: 40px; }

/* Padding TOP BOTTOM definition */
.pdtb-4 { 
    padding-top: 4px;
    padding-bottom: 4px; 
}

.pdtb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pdtb-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pdtb-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pdtb-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.pdtb-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.pdtb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Padding LEFT RIGHT definition */
.pdlr-4 { 
    padding-left: 4px;
    padding-right: 4px; 
}

.pdlr-8 {
    padding-left: 8px;
    padding-right: 8px; 
}

.pdlr-12 {
    padding-left: 12px;
    padding-right: 12px; 
}

.pdlr-16 {
    padding-left: 16px;
    padding-right: 16px; 
}

.pdlr-24 {
    padding-left: 24px;
    padding-right: 24px; 
}

.pdlr-32 {
    padding-left: 32px;
    padding-right: 32px; 
}

.pdlr-40 {
    padding-left: 40px;
    padding-right: 40px; 
}

/* Padding ALL definition */
.pda-4 { padding: 4px; }
.pda-8 { padding: 8px; }
.pda-12 { padding: 12px; }
.pda-16 { padding: 16px; }
.pda-24 { padding: 24px; }
.pda-32 { padding: 32px; }
.pda-40 { padding: 40px; }