// // White
$white: #fff;

// // Black
$black: #080A0B;

// // Blue
$blue0: #3eaed0;
$blue1: #2B40F1;
$blue2: #1F2560;
$blue3: #0F153A;
$blue4: #1B2028;

// // Gray
$gray0: #9AA2B3;
$gray1: #444853;
$gray2: #323438;
$gray3: #1B2028;

// $black: black;