// ===== ALL RADIUS ===== //
.radius-4  { border-radius: 4px;  }
.radius-8  { border-radius: 8px;  }
.radius-16 { border-radius: 16px; }
.radius-20 { border-radius: 20px; }
.radius-24 { border-radius: 24px; }
.radius-28 { border-radius: 28px; }
.radius-32 { border-radius: 32px; }
.radius-40 { border-radius: 40px; }

// ===== TOP-LEFT RADIUS ===== //
.tl-radius-4  { border-top-left-radius: 4px;  }
.tl-radius-8  { border-top-left-radius: 8px;  }
.tl-radius-16 { border-top-left-radius: 16px; }
.tl-radius-20 { border-top-left-radius: 20px; }
.tl-radius-24 { border-top-left-radius: 24px; }
.tl-radius-28 { border-top-left-radius: 28px; }
.tl-radius-32 { border-top-left-radius: 32px; }
.tl-radius-40 { border-top-left-radius: 40px; }

// ===== TOP-RIGHT RADIUS ===== //
.tr-radius-4  { border-top-right-radius: 4px;  }
.tr-radius-8  { border-top-right-radius: 8px;  }
.tr-radius-16 { border-top-right-radius: 16px; }
.tr-radius-20 { border-top-right-radius: 20px; }
.tr-radius-24 { border-top-right-radius: 24px; }
.tr-radius-28 { border-top-right-radius: 28px; }
.tr-radius-32 { border-top-right-radius: 32px; }
.tr-radius-40 { border-top-right-radius: 40px; }

// ===== BOTTOM-LEFT RADIUS ===== //
.bl-radius-4  { border-bottom-left-radius: 4px;  }
.bl-radius-8  { border-bottom-left-radius: 8px;  }
.bl-radius-16 { border-bottom-left-radius: 16px; }
.bl-radius-20 { border-bottom-left-radius: 20px; }
.bl-radius-24 { border-bottom-left-radius: 24px; }
.bl-radius-28 { border-bottom-left-radius: 28px; }
.bl-radius-32 { border-bottom-left-radius: 32px; }
.bl-radius-40 { border-bottom-left-radius: 40px; }

// ===== BOTTOM-RIGHT RADIUS ===== //
.br-radius-4  { border-bottom-right-radius: 4px;  }
.br-radius-8  { border-bottom-right-radius: 8px;  }
.br-radius-16 { border-bottom-right-radius: 16px; }
.br-radius-20 { border-bottom-right-radius: 20px; }
.br-radius-24 { border-bottom-right-radius: 24px; }
.br-radius-28 { border-bottom-right-radius: 28px; }
.br-radius-32 { border-bottom-right-radius: 32px; }
.br-radius-40 { border-bottom-right-radius: 40px; }